.choose-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, black, rgb(65, 166, 200));
    text-align: center;
  }
  
  .title {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 15px;
  }
  
  .options {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .option {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  
  .option img {
    width: 240px; /* Set size */
    height: 200px;
    border-radius: 8px;
  }
  
  .option p {
    color: white;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  
  .option:hover {
    transform: scale(1.1);
    border: 2px solid white; /* Add border only on hover */
    border-radius: 8px;
    padding: 5px;
  }
  
  .special-option {
    margin-top: 15px;
    background: rgb(200, 186, 108);
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.3s ease-in-out;
  }
  
  .special-option img {
    width: 230px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  
  .special-option:hover {
    background: orange;
  }
  